<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        
        <!-- Brand -->
        <h3 class="text-light font-weight-bold">The First Vision</h3>

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Learn more at these links.
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.churchofjesuschrist.org/?lang=eng" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/lds-favicon.ico" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.josephsmithpapers.org" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/js-papers-favicon.ico" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://rsc-legacy.byu.edu/exploring-first-vision" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/rsc-favicon.png" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="https://www.facebook.com/ChurchofJesusChrist/" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="https://twitter.com/Ch_JesusChrist" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
      
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>