<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:image" content="@@webRoot/src/assets/img/photos/the_first_vision/jpeg">
<meta property="og:title" content="Yahoo | Mail, Weather, Search, Politics, News, Finance, Sports &amp; Videos">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.thefirstvision.org">
<meta property="og:description" content="Latest news coverage, email, free stock quotes, live scores and video are just the beginning. Discover more every day at Yahoo!">
<meta property="og:image" content="@@webRoot/src/assets/img/photos/the_first_vision/jpeg">
<meta property="og:site_name" content="Yahoo | Mail, Weather, Search, Politics, News, Finance, Sports &amp; Videos">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="shortcut icon" type="img" href="@@webRoot/src/assets/img/photos/android-chrome-512x512.png">

<!-- Map -->
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->

<title>@@pageTitle</title>